/* -------------------- IMPORTED FONTS 
-------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS REST 
---------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
  --green: #06A816;
  --orange: #E75D02;
  --black: #000000;
  --white: #ffffff;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
body {
  font-family: "Habibi", serif;
}

nav,
main {
  padding: 0 1em;
}

h1,
h2,
h3 {
  font-family: "Irish Grover", system-ui;
}

h1 {
  font-size: 2.5em;
  text-shadow: 2px 2px 2px var(--black);
}

h2 {
  font-size: 1.75em;
  padding-top: 1em;
}

h3 {
  font-size: 1.25em;
  padding: 0.5em 0;
}

header {
  background-color: var(--green);
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

header p {
  font-style: italic;
}

nav h2 {
  display: none;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  padding: 1em;
}

nav li {
  margin: 1em 0;
  width: 100%;
  text-align: center;
  background-color: var(--orange);
  border: 2px solid var(--white);
  list-style-type: none;
  padding: 0.75em;
}

nav a {
  text-decoration: none;
  color: inherit;
  color: var(--white);
}

nav ul li:last-child {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: var(--orange);
  color: var(--white);
  padding: 0.75em 1em;
  border-radius: 5px;
  text-decoration: none;
  width: fit-content;
}

p {
  padding: 1em 0;
}

#fruits h3,
#vegetables h3 {
  text-align: center;
}

.productGrid {
  margin-bottom: 5em;
  display: grid;
  place-items: center;
  gap: 3em;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

figure img {
  width: 100%;
  height: auto;
}

figcaption {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1em 2.5em;
}

footer {
  line-height: 1.5em;
  background-color: var(--green);
  color: var(--white);
  text-align: center;
  width: 100%;
}

footer section {
  margin: 1em 0 1.25em 0;
}

footer ul {
  margin: 1em 0;
  list-style-type: none;
}

small {
  background-color: var(--white);
  color: var(--green);
  display: block;
  width: 100%;
  padding: 0.5em 0;
  font-weight: bold;
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width: 834px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .productGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  nav li {
    width: 75%;
  }

  footer {
    display: grid;
    grid-template-areas:
      "contact hours"
      "small small"
    ;
  }

  footer section {
    padding: 1em;
  }

  #hours {
    grid-area: hours;
  }

  #contact {
    grid-area: contact;
  }

  small {
    grid-area: small;
  }
}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width: 1280px) {
  header {
    background-color: var(--green);
    color: white;
    display: block;
    position: relative;
  }

  nav {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
  }

  nav ul {
    width: 500px;
    align-items: center;
  }

  .productGrid {
    grid-template-columns: repeat(3, 1fr);

  }

  footer {
    grid-template-areas:
      "contact hours"
      "small small"
    ;
  }

  #contact {
    grid-area: contact;
    display: grid;
    grid-template-areas:
      "contactH2 contactP"
    ;
  }

  #contact h2 {
    grid-area: contactH2;
  }

  #contact p {
    grid-area: contactP;
    margin: 0;
    padding: 0;
  }

  #hours {
    grid-area: hours;
    display: grid;
    grid-template-areas:
      "hoursH2 hoursUL"
    ;

  }

  #hours h2 {
    grid-area: hoursH2
  }

  #hours ul {
    grid-area: hoursUL;
    margin: 0;
  }

  small {
    grid-area: small;
  }

}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (min-width: 1440px) {
  .productGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}