/* -------------------- IMPORTED FONTS 
-------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS REST 
---------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
  --green: #06A816;
  --orange: #E75D02;
  --black: #000000;
  --white: #ffffff;
}


/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

body {
  font-family: "Habibi", serif;
}

nav,
main {
  padding: 0 1rem;
}

h1,
h2,
h3 {
  font-family: "Irish Grover", system-ui;
}

h1 {
  font-size: 2.5em;
  text-shadow: 2px 2px 2px var(--black);
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

header {
  background-color: green;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

header p {
  font-style: italic;
}

nav h2 {
  display: none;
}

nav ul {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  padding: 1rem;
}

nav li {
  margin: 1rem 0;
  padding: .5rem;
  width: 100%;
  text-align: center;
  background-color: var(--orange);
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: inherit;
  color: var(--white);
}

#fruits h3,
#vegetables h3 {
  text-align: center;
  margin: 1rem 0;
}

.productGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  place-items: center;
  gap: 2rem;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

figcaption {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem 2.5rem;
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width: 834px) {}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width: 1280px) {}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (min-width: 1440px) {}